{% extends "renter_dashboard/base.html" %}
{% load static  %}
{% load mathfilters %}
{% block link %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />    
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    
{% endblock link %}

{% block style %}
    body { 
        padding: 0 20px;
        height: 100vh;
        background: white;
        background-size: cover;
        background-repeat: none;
        margin: auto;
        display: grid;
        place-items: center
    }
    .text-secondary-d1 {
        color: #728299!important;
    }
    .page-header {
        margin: 0 0 1rem;
        padding-bottom: 1rem;
        padding-top: .5rem;
        border-bottom: 1px dotted #e2e2e2;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
    }
    .page-title {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        font-weight: 300;
    }
    .brc-default-l1 {
        border-color: #dce9f0!important;
    }

    .ml-n1, .mx-n1 {
        margin-left: -.25rem!important;
    }
    .mr-n1, .mx-n1 {
        margin-right: -.25rem!important;
    }
    .mb-4, .my-4 {
        margin-bottom: 1.5rem!important;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
    }

    .text-grey-m2 {
        color: #888a8d!important;
    }

    .text-success-m2 {
        color: #86bd68!important;
    }

    .font-bolder, .text-600 {
        font-weight: 600!important;
    }

    .text-110 {
        font-size: 110%!important;
    }
    .text-blue {
        color: #478fcc!important;
    }
    .pb-25, .py-25 {
        padding-bottom: .75rem!important;
    }

    .pt-25, .py-25 {
        padding-top: .75rem!important;
    }
    .bgc-default-tp1 {
        background-color: rgba(121,169,197,.92)!important;
    }
    .bgc-default-l4, .bgc-h-default-l4:hover {
        background-color: #f3f8fa!important;
    }

    .btn-light {
        color: #757984;
        background-color: #f5f6f9;
        border-color: #dddfe4;
    }
    .w-2 {
        width: 1rem;
    }

    .text-120 {
        font-size: 120%!important;
    }
    .text-primary-m1 {
        color: #4087d4!important;
    }

    .text-danger-m1 {
        color: #dd4949!important;
    }
    .text-blue-m2 {
        color: #68a3d5!important;
    }
    .text-150 {s
        font-size: 150%!important;
    }
    .text-60 {
        font-size: 60%!important;
    }
    .text-grey-m1 {
        color: #7b7d81!important;
    }
    .align-bottom {
        vertical-align: bottom!important;
    }
    .page-content {}
{% endblock style %}
{% block content %}

<div class="page-content container">
    <div class="page-header text-blue-d2">
        <h1 class="page-title text-secondary-d1">
            Invoice
            <small class="page-info">
                <i class="fa fa-angle-double-right text-80"></i>
             </small>
        </h1>
    </div>
    <div class="container px-0">
        <button class="btn btn-primary " type="month" 
            title="Tính tiền phòng và dịch vụ hàng tháng" style="display: inline-block;"><i
                class="fa fa-calendar"></i> Tháng
                <input id="input-month" type="month">
        </button>
        <button class="btn btn-primary filter-month" >
                oke
        </button>
        <h3>{{message}} <span class="badge bg-secondary"></span></h3>
        
        
        <div class="row mt-4">
            <div class="col-12 col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center text-150">
                            <i class="fa fa-book fa-2x text-success-m2 mr-1"></i>
                            <span class="text-default-d3">INVOICE</span>
                        </div>
                    </div>
                </div>

                <hr class="row brc-default-l1 mx-n1 mb-4" />

                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <span class="text-sm text-grey-m2 align-middle">Renter:</span>
                            <span class="text-600 text-110 text-blue align-middle">{{ user.full_name }}</span>
                        </div>
                        <div class="text-grey-m2">
                            <div class="my-1">
                                Room: {{bill.room.room_number}}
                            </div>
                            <div class="my-1">
                                Street, City : {{user.address}}
                            </div>
                            <div class="my-1"><i class="fa fa-phone fa-flip-horizontal text-secondary"></i> <b class="text-600">{{user.phone_number}}</b></div>
                        </div>
                    </div>
                    <!-- /.col -->

                    <div class="text-95 col-sm-6 align-self-start d-sm-flex justify-content-end">
                        <hr class="d-sm-none" />
                        <div class="text-grey-m2">
                            <div class="mt-1 mb-2 text-secondary-m1 text-600 text-125">
                                Invoice
                            </div>

                            <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">ID:</span>{{bill.id}}</div>

                            <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Issue Date:</span>{{bill.date }}</div>

                            <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Status:</span> <span class=" badge badge-warning px-25">
                                {% if bill.pay_status %}
                                    Paid
                                {% else %}
                                    Unpaid
                                {% endif %}

                            </span></div>
                 
                        </div>
                    </div>
                    <!-- /.col -->
                </div>

                <div class="mt-4">
                    <div class="row text-600 text-white bgc-default-tp1 py-25">
                        <div class="d-none d-sm-block col-1">#</div>
                        <div class="col-9 col-sm-5">Description</div>
                        <div class="d-none d-sm-block col-4 col-sm-2">Qty</div>
                        <div class="d-none d-sm-block col-sm-2">Unit Price</div>
                        <div class="col-2">Amount</div>
                    </div>

                    <div class="text-95 text-secondary-d3">
                        <div class="row mb-2 mb-sm-0 py-25 bgc-default-l4">
                            <div class="d-none d-sm-block col-1">1</div>
                            <div class="col-9 col-sm-5">Điện</div>
                            <div class="d-none d-sm-block col-2">{{bill.electrict_number}} kW</div>
                            <div class="d-none d-sm-block col-2 text-95">{{bill.electricity_price}} VND</div>
                            <div class="col-2 text-secondary-d2">
                                
                                {{ bill.electrict_number|mul:bill.electricity_price }}
                            
                            </div>
                        </div>

                        <div class="row mb-2 mb-sm-0 py-25">
                            <div class="d-none d-sm-block col-1">2</div>
                            <div class="col-9 col-sm-5">Nước</div>
                            <div class="d-none d-sm-block col-2">{{bill.cubic_metres_of_water}} m3</div>
                            <div class="d-none d-sm-block col-2 text-95">{{bill.water_price}} VND</div>
                            <div class="col-2 text-secondary-d2">{{ bill.cubic_metres_of_water|mul:bill.water_price }}</div>
                        </div>

                        <div class="row mb-2 mb-sm-0 py-25 bgc-default-l4">
                            <div class="d-none d-sm-block col-1">3</div>
                            <div class="col-9 col-sm-5">Tiền Phòng</div>
                            <div class="d-none d-sm-block col-2">--</div>
                            <div class="d-none d-sm-block col-2 text-95">--</div>
                            <div class="col-2 text-secondary-d2">{{bill.room.room_price}} VND</div>
                        </div>

                        <div class="row mb-2 mb-sm-0 py-25">
                            <div class="d-none d-sm-block col-1">4</div>
                            <div class="col-9 col-sm-5">Khác</div>
                            <div class="d-none d-sm-block col-2"></div>
                            <div class="d-none d-sm-block col-2 text-95"></div>
                            <div class="col-2 text-secondary-d2"></div>
                        </div>
                    </div>

                    <div class="row border-b-2 brc-default-l2"></div>

                    <div class="row mt-3">
                        <div class="col-12 col-sm-7 text-grey-d2 text-95 mt-2 mt-lg-0 text-secondary-d1">
                            Extra note such as payment information...
                        </div>
                        <div class="col-12 col-sm-5 text-grey text-90 order-first order-sm-last">
                            <div class="row my-2">
                                <div class="col-7 text-right">
                                    SubTotal
                                </div>
                                <div class="col-5">
                                    <span class="text-120 text-secondary-d1">{{bill.get_total}} VND</span>
                                </div>
                            </div>

                            <div class="row my-2">
                                <div class="col-7 text-right">
                                    Discount ({{bill.discount}}%)
                                </div>
                                <div class="col-5">
                                    <span class="text-110 text-secondary-d1">{{bill.get_total|mul:bill.discount|div:100}} VND</span>
                                </div>
                            </div>

                            <div class="row my-2 align-items-center bgc-primary-l3 p-2">
                                <div class="col-7 text-right">
                                    Total Amount
                                </div>
                                <div class="col-5">
                                    <span class="text-150 text-success-d3 opacity-2">{{bill.get_total_amount}} VND</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div>
                        <a href="pay.html" class="btn btn-info btn-bold px-4 float-right mt-3 mt-lg-0">Pay Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}

   <script>
        $(".filter-month").click(function(){
            var date=$("#input-month").val()
            if(date!=null){
                window.location.href =`/bill/bill_of_renter_site/${date}`;
            }
        })
   </script>
{% endblock script %}