<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <style>
    body {
        background-repeat: no-repeat;
        background-image: url("https://png.pngtree.com/png-vector/20190803/ourlarge/pngtree-avatar-user-basic-abstract-circle-background-flat-color-icon-png-image_1647265.jpg");
    }

    h1 {
        background-color: #00b33c;
    }

    p2/p2 {
        background-color: #FFFFFF);
    }
    p1{ padding-left: 60px }
    p2{ padding-left: 100px }
    p3{ padding-left: 338px }
  </style>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title id="Account_Management">Account Management</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <!--[if lt IE 7]>
            <p2/p2 class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p2>
        <![endif]-->
    <br /><br />
    <p>
      First, enter a username and password. Then, you'll be able to edit user
      options
    </p>
    <br />
    <p1>
      <b>Room ID</b>
      &emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&ensp;
      <input type="text" name="room_id" />
    </p1>
    <p2>
      <b>Acreage</b>
      &emsp;&emsp;&emsp;&emsp;&nbsp;
      <input type="text" name="acreage" />
    </p2>
    <hr width="60%" align="left" />
    <p1>
      <b>User1 Name</b>
      &emsp;&emsp;&emsp;&emsp;&ensp;
      <input type="text" name="user1_name" />
    </p1>
    <p2>
      <b>User2 Name</b>
      &emsp;&emsp;&nbsp;&ensp;
      <input type="text" name="user2_name" />
    </p2>
    <hr width="60%" align="left" />
    <p1>
      <b>User3 Name</b>
      &emsp;&emsp;&emsp;&emsp;&ensp;
      <input type="text" name="user3_name" />
    </p1>
    <p2>
      <b>User4 Name</b>
      &emsp;&emsp;&nbsp;&ensp;
      <input type="text" name="user4_name" />
    </p2>
    <hr width="60%" align="left" />
    <p1>
      <b>Room Bill</b>
      &emsp;&emsp;&emsp;&emsp;&emsp;&ensp;
      <input type="text" name="room_bill" />
    </p1>
    <p2>
      <b>Electrict Bill</b>
      &emsp;&emsp;&ensp;
      <input type="text" name="electrict_bill" />
    </p2>
    <hr width="60%" align="left" />
    <p1>
      <b>Month</b>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;
      <input type="text" name="Month" />
    </p1>
    <p2>
      <b>Water Bill</b>
      &emsp;&emsp;&emsp;&ensp;
      <input type="text" name="water_bill" />
    </p2>
    <hr width="60%" align="left" />
    <p1>
      <b>Payment Day</b>
      &emsp;&emsp;&emsp;&emsp;
      <input type="date" id="birthday" name="birthday" />
    </p1>
    <p2>
      <b>Total</b>
      &emsp;&emsp;&emsp;&emsp;&emsp;&ensp;
      <input type="text" name="totak" />
    </p2>
    <hr width="60%" align="left" />
    <p1>
      <button type="button">Add</button>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <button type="button">update</button>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <button type="button">delete</button>
    </p1>
    <hr width="60%" align="left" />
    <script src="" async defer></script>
  </body>
</html>
